.homeViewWrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-content: center;
}

.homeViewCategoriesWrapper {
  display: grid;
  grid-column: 2/3;
  justify-content: center;
}

.homeViewSearchWrapper {
  display: grid;
  grid-column: 2/3;
  justify-content: center;
}

.homeViewProductCardsWrapper {
  display: grid;
  grid-column: 2/3;
  justify-content: center;
}