 .desktopNavigationTabWrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
} 

.profile {
/*   grid-column: 17/18;
	grid-row: 1/1; */
	align-self: center;
	justify-self: flex-end;
}

.desktopNavigationTabWrapper button, .desktopNavigationTabWrapper span, .profile {
  cursor: pointer;
  border: none;
  background: none; 
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 19px;
  margin-top: 6px;
  color: rgb(14, 59, 34);
}

.desktopNavigationTabWrapper button:hover {
  color: rgb(0, 10, 5);
}

 .desktopNavigationTabWrapper span {
  font-weight: 100;

} 

/* .navigationLogotype {
  width:100px;
  grid-column: 3/4;
} */

/* .logInButton,
.profile {
  grid-column: 15/16;
  cursor: pointer;
  border: none;
  background: none; 
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  margin: 5px;
  color: rgb(14, 59, 34);
} */

/* .navigationTabs {
  grid-column: 13/14;
  align-items: center;
} */

