/* .desktopNavigationWrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background: #b5d5b1;
} */

.navigationLogotype {
  width:100px;
  grid-column: 3/4;
}

.logInButton,
.profile {
  grid-column: 15/16;
  cursor: pointer;
  border: none;
  background: none; 
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  margin: 5px;
  color: rgb(14, 59, 34);
}

.navigationTabs {
  grid-column: 13/14;
  align-items: center;
}