.sideBarWrapper {
  height: 100%;
  background-color: rgb(212, 235, 212);
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top: 50px;
  left: 0;
  width: 50%;
  max-width: 400px;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.3 ease-in-out;
  display: flex;
  flex-direction: column;
}

.sideBarWrapper  button {
  padding: 4px;
  background:none;
  border: none;
  cursor: pointer;
}

.sideBarWrapper.open {
  transform: translateX(0);
}